#left-nav{
    margin: 10px 5px;
    width: 20vw;
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform .2s linear;
}

.menu i{
    background-color: #1d1a1a;
    position: absolute;
    right: -42px;
    top: 60px;
    z-index: 9999;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    
}


.top-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--BG);
    border-radius: 10px;
}

.top-div button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    padding: 10px;
    height: 3rem;
    display: flex;
    align-items: center;
}

.top-div button{
    margin: 7px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1px 10px;
}

.searchDiv{
    display: flex;
    align-items: center;
    position: relative;

}

.searchDiv i{
    position: absolute;
    top: 18px;
    left: 15px;
}

.searchDiv input{
    background-color: transparent;
    border: none;
    height: 3rem;
    border-radius: 50px;
    padding: 1px 10px 1px 50px;
    color: #fff;
    margin: 7px;
    width: 100%;
    font-size: 25px;
}

.searchDiv input::placeholder{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
}

.searchDiv input:focus-visible{
    background-color: #000;
    outline: 2px solid rgb(0, 115, 255);
}

.searchDiv input::-webkit-calendar-picker-indicator {
    display: none;
}

.top-div i span{
    font-size: 25px;
    font-weight: 200;
    margin: 10px;
}

.top-div button:hover,
.top-div button i:hover,
.searchDiv input:hover{
    background-color: #000000;
    color: var(--white);
}

.top-div button:focus-within{
    background-color: #000000;
    color: var(--white);
    border: 1px solid rgb(0, 115, 255);
}


.artist-div{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--BG);
    border-radius: 10px;
}

.artist-div h2{
    margin: 10px;
}

.artist{
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.artist img{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid;
    overflow: hidden;
}

.artist span{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
}

#detailsRightNav{
    margin: 10px 0;
    font-size: 20px;
    line-height: 39px;
}

.artist:hover{
    background-color: #333;
    cursor: pointer;
}

.active{
    background-color: #000;
    border: 1px solid rgb(0, 115, 255);
}