*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --BG:#222;
    --White: #fff;
    --Black: #000;
}

body
{
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    display: none;
}

.inputRange{
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    justify-content: space-evenly;
}

.BottomNav{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: transparent;
    border-top: 3px solid;
    height: 6rem;
    z-index: 99;
    backdrop-filter: blur(15px);
}

.BottomNavBelow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 20px;
}

.BottomNavButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 15px;
}

.BottomNavButtons i{
    margin: 0 8px;
}


.details{
    display: flex;
    align-items: center;
}

.details h5{
    margin: 0 10px;
}

.details img{
    display: none;
    width: 2rem;
    border: 2px solid;
}

#play{
    font-size: 45px;
}

#bars{
    width: 4rem;
    height: 2rem;
    opacity: 0;
    transition: opacity .3s;
    border: none;
}

#TimeStamp{
    width: 90%;
    cursor: pointer;
    transition: all .1s linear;
}

#TimeStamp:hover{
    background-color: #ff0055;
    color: #ff0055;
}

.bx{
    font-size: 30px;
    cursor: pointer;
}

@media (max-width:650px) {
    #SkipPrevious,
    #SkipNext,
    #bars{
        display: none;
    }
}